services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: simplecoffee
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    command: >
      sh -c "sleep 10 && 
             alembic upgrade head && 
             uvicorn api.main:app --host 0.0.0.0 --port 8000 --reload"
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:postgres@postgres:5432/simplecoffee
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - postgres

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - api

volumes:
  postgres_data: