.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  position: relative;
  background-color: #F4F4F4;
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F4F4F4;
  padding: 40px 60px;
  z-index: 2;
  width: 400px;        /* ✅ фиксированная ширина */
  max-width: 90vw;     /* ✅ чтобы не вылезало на маленьких экранах */
  border-radius: 8px;
}

.auth-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%; /* теперь безопасно */
}

.login-input {
  padding: 12px 14px;
  border: 2px solid #ff7b32;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s;
}

.password-wrapper {
  position: relative;
  
}

.password-wrapper .login-input {
  width: 100%;
  box-sizing: border-box;/* чтобы иконка не перекрывала текст */
}

.password-toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #888;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-toggle:hover {
  color: #333;
}


.login-input:focus {
  border-color: #ff9c5a;
}

.login-error {
  color: red;
  font-size: 14px;
  text-align: center;
}

.login-button {
  background-color: #ff7b32;
  color: #fff;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #ff9c5a;
}

.auth-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 580px;
}

.login-success {
  position: fixed;
  top: 100px;
  right: 650px;
  background-color: #333;
  color: white;
  padding: 14px 20px;
  border-radius: 8px;
  opacity: 0;
  animation: fadeInOut 3s ease forwards;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 9999;
  background-color: #4caf50;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(20px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translateY(20px); }
}