/* Основная обёртка страницы */
.work-schedule-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height:100vh;
  background: #F4F4F4;
  box-sizing: border-box;
}

.container-page {
  background-color: #fff;
  border-radius: 20px;
  padding: 14px 43px;
  margin: 25px 15px;
}

.go-to-schedule {
    display: flex;
    align-items: center;
    gap: 25px;
}

.go-to-icon {
  transform: rotate(180deg) scaleX(1);
}

/* --- Заголовок страницы --- */
.schedule-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
  background-color: #fff;
}

.schedule-header .period {
  font-size: 20px;
  font-weight: 600;
}

.schedule-header .controls {
  display: flex;
  gap: 10px;
}

/* --- Таблица --- */
.schedule-table {
  width: 100%;
  overflow-x: auto;
  border-top: 1px solid #eee;
  margin: 0 15px;
}

/* Включаем скролл */

.header-row {
  display: grid;
  grid-template-columns: 220px auto;
  position: sticky;
  top: 0;
  background: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  z-index: 10;
}

/* Левая колонка "Сотрудники" */
.label-col {
  font-size: 14px;
  font-weight: 600;
  padding-left: 10px;
}

/* Заголовки дней */
.days-header {
  display: flex;
}

.day-header {
  width: 70px;
  min-width: 70px;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  padding: 6px 0;
  border-right: 1px solid #eee;
  background: #fafafa;
}

.employee-row {
  display: grid;
  grid-template-columns: 220px auto;
  min-height: 55px;
  border-bottom: 1px solid #f1f1f1;
}

/* Левая ячейка — сотрудник */
.employee-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.employee-name {
  font-size: 14px;
  font-weight: 600;
}

.employee-role {
  font-size: 12px;
  color: #999;
}

/* Ячейки дней */
.days-row {
  display: flex;
}

.day-cell {
  width: 70px;
  min-width: 70px;
  height: 55px;
  border-right: 1px solid #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Рабочая смена */
.shift {
  width: 90%;
  background: #ff8c3e;
  color: white;
  border-radius: 8px;
  padding: 4px 0;
  font-size: 12px;
  text-align: center;
  line-height: 1.1;
}

/* Серая смена (не активная) */
.shift-gray {
  background: #e5e5e5;
  color: #666;
}

/* Значки внутри смены */
.shift-icon {
  display: block;
  margin-bottom: 2px;
  font-size: 14px;
}

.exit {
  cursor: pointer;
  margin: 0;
}